# Duplicate to config.local.rb to activate. Override the variables set in the Vagrantfile to tweak your local VM.

# Basic VM Information
#$vm_name          = "quasar-vm"
#$vm_memory        = "1024"
#$vm_cpus          = "1"
#$vm_sites_path    = "/vagrantshare/www"

# Host Information
#$host_os          = "Win"
#$nfs_supported    = false
#$local_sites_path = "D:\\local\\path\\here"   # Double slashes may be required for Windows hosts e.g. "C:\\Users\\yourname\\Sites"

# Additional Shared Folders
#$shared_folders["D:\\local\\path\\here"] = '/vm/path/here'
#$shared_folders["D:\\local\\path\\here"] = '/vm/path/here'

# IP Addresses & Ports
#$vm_ip_address    = "33.33.33.10"
#$vm_http_port     = 80
#$host_http_port   = 8888
#$vm_mysql_port    = 3306
#$host_mysql_port  = 3306   # Warning, mysql port configuration using 3306 will interfere with any locally run MySQL server.

# Default Proxy Settings
#$http_proxy       = nil
#$https_proxy      = nil
#$noproxy_hosts    = "localhost,127.0.0.1"
#$proxy_enabled    = false

#$chef_log_level   = :info  #:debug, :info, :warn, :error, or :fatal (ArgumentError) 

#$chef_json_extra  = {}